# Phase 1 build products. Regenerate with ./pipeline/master.sh
pipeline/master/

# Phase 2 build products. Regenerate with ./pipeline/hls.sh and ./pipeline/dash.sh
pipeline/package/

# Phase 3 build products. Regenerate with ./pipeline/encrypt.sh
pipeline/protected/

# Phase 5 pre-roll. Regenerate with ./pipeline/preroll.sh
pipeline/preroll/
